html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.login-form-header, .register-form-header {
    margin-top: 4rem;
    display: grid;
    place-items: center;
}

.login-form, .register-form {
    display: grid;
    place-items: center;
}

.button-style {
    background-color: #363671;
    color: #FFF;
    transition: all 0.35s ease-in-out;
}

.sign-up-link a {
    margin-left: 2px;
}

.button-style:hover {
    color: #FFF;
    background-color: #000058;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.question-block {
    width: 100%;
    height: auto;
    padding: 10px;
}

.answer-block {
    width: 100%;
    height: auto;
    padding: 15px 10px;
    background-color: #f0f2f4;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.question-comment, .answer-comment{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 10px;
    height: auto;
    width: 50%;
    background-color: #ddd;
    margin-top: 15px;
}

.answer-block .icons {
    display: flex;
    flex-direction: column;
    width: 45px;
    gap: 4px;
    padding: 7px 0px;
}

.answer-block .answer-info{
    width: 100%;
    height: 100%;
    padding: 0px 10px;
}

.display-answer, .display-question {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    padding: 3px;
    height:auto;
}

.answer-template {
    margin-top: 10px;
    background-color: #f0f2f4;
    border-radius: 5px;
    padding: 15px 10px;
}

.comment-block {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.answer-comment {
    margin-left: 4rem;
}

.tags {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.tag a {
    text-decoration: none;
    color: #808080;
}

.tag-button {
    border: none;
    border-radius: 5px;
    padding: 6px 10px;
    height: 35px;
    width:auto;
    margin-right:10px;
    font-size: 15px;
    background-color: bisque;
}

.questionAnswer-links{
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.comment-link, .markcorrectanswer-link {
    margin-top: 3rem;
    background-color: #1a1d28;
    width: 95px;
    height: 36px;
    padding: 5px 10px;
    border-radius: 5px;
}

.markcorrectanswer-link {
    width: 145px;
    padding: 5px 15px;
}

.ask-link {
    margin-top: 20px;
    background-color: #000058;
    width: 95px;
    height: 48px;
    padding: 10px 10px;
    border-radius: 5px;
    color: #ffff;
    text-decoration: none;
}

.ask-link:hover {
    background-color: #020275;
    color: #ffff;

}

.comment-link a, .markcorrectanswer-link a {
    color: #ffff;
    text-decoration: none;
}


.question-description, .answer-description {
    border: 1px solid #0000;
    padding: 8px 0px;
}

.dateposted {
    color: #808080;
    font-size: 15px;
    margin-right: 0;
    margin-left: auto;
}

.answer {
    margin-top: 2rem;
}

.user {
    margin-top: 1rem;
}

#reputation {
    border: 1px solid #808080;
    color: #000;
    width: 46px;
}

.icons {
    display: flex;
    flex-direction: column;
    width: 45px;
    gap: 4px;
}

.icons .correct-icon{
    margin-top: 5rem;
    margin-inline: auto;
}

.icon {
    margin-inline: auto;
    border: 1px solid #808080;
    width: 35px;
    height: 25px;
    padding: 1px 8px;
}

.down-icon {
    padding:0px 8px 4px;
}

.correct-icon{
    border: 1px solid #808080a4;
    width: 35px;
    height: 35px;
    padding: 5px 6px;
}

.icons i , .correct-icon i{
    font-size: 25px;
    color: #1a1d28;
}

.correct-icon i {
    color: #09bb12;
}

.icons i:hover {
    color: #020275
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #000058;
    color: white;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
/*
table tr:hover {
    background-color: #ddd;
}
*/

.error {
    color: red;
}

.question-actionlinks{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    padding: 8px 0px;
}

.question-actionlinks p + p{
    margin-left: 20px;
}

.questionAnswer-block{
    border: none;
    padding: 10px;
    background-color: #f0f2f4;
    border-radius: 5px;
}

.questionAnswer-user {
    margin-top: 25px;
}