@model SlackOverload.Models.ViewModel.CreateQuestionVm

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Post Question</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="Post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-4">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <label asp-for="TagId" class="control-label"></label>
                <br />
                @Html.ListBoxFor(model => model.TagId, new MultiSelectList(Model.Tags, "Value", "Text", @Model.TagId)
                ,new {@class= "form-control taglist mt-3",multiple="multiple", id="TagList_Dropdown"})
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index">View Personal Questions</a> | <a asp-action="Index" asp-controller="Home">Back To Home Page</a>
</div>

@section Scripts {
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>

        <script type="text/javascript"> 
            $(document).ready(function () {  
                $('.taglist').multiselect();  
            });  
        </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
